<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增实验室管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-laboratoryManage-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">实验室名称：</label>
                <div class="col-sm-8">
                    <input name="labName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">实验室位置：</label>
                <div class="col-sm-8">
                    <input name="labAddress" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "laboratory/laboratoryManage"
        $("#form-laboratoryManage-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-laboratoryManage-add').serialize());
            }
        }
    </script>
</body>
</html>