<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增核酸信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-acid-add">
        <h4 class="form-header h4">核酸信息</h4>
        <input  name="pointId" type="hidden" class="form-control" >

        <div class="form-group">
            <label class="col-sm-3 control-label">检测点名称：</label>
            <div class="col-sm-8">
                <input readonly="true" name="pointName" th:value="${pointName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">核酸时间：</label>
            <div class="col-sm-8">
                <input readonly="true" th:value="${#dates.format(naTime, 'yyyy-MM-dd HH:mm:ss')}" name="naTime" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">混样方式：</label>
            <div class="col-sm-8">
                <select name="naMixType" class="form-control m-b" th:with="type=${@dict.getType('na_mix_type')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">核酸类型：</label>
            <div class="col-sm-8">
                <select name="naType" class="form-control m-b" th:with="type=${@dict.getType('na_type')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">试管编号：</label>
            <div class="col-sm-8">
                <input name="tubeId" class="form-control" type="text">
            </div>
        </div>

<!--        <div class="form-group">-->
<!--            <label class="col-sm-3 control-label">核酸结果(0未录入，1阴性，2阳性)：</label>-->
<!--            <div class="col-sm-8">-->
<!--                <select name="naResult" class="form-control m-b" th:with="type=${@dict.getType('na_result_type')}">-->
<!--                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label class="col-sm-3 control-label">结果最后一次修改时间：</label>-->
<!--            <div class="col-sm-8">-->
<!--                <div class="input-group date">-->
<!--                    <input name="naResultTime" class="form-control" placeholder="yyyy-MM-dd" type="text">-->
<!--                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label class="col-sm-3 control-label">物流信息ID：</label>-->
<!--            <div class="col-sm-8">-->
<!--                <input name="logiId" class="form-control" type="text">-->
<!--            </div>-->
<!--        </div>-->
        <h4 class="form-header h4">信息人员对照表信息</h4>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-white btn-sm" onclick="addRow()"><i class="fa fa-plus"> 添加用户</i></button>
                <button type="button" class="btn btn-white btn-sm" onclick="sub.delRow()"><i class="fa fa-minus"> 删除</i></button>
                <div class="col-sm-12 select-table table-striped">
                    <table id="bootstrap-table"></table>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script th:inline="javascript">
    var prefix = ctx + "nucleicAcid/acid"
    var perIdentityTypeDatas = [[${@dict.getType('identity_type')}]];
    $("#form-acid-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-acid-add').serialize());
        }
    }

    // $("input[name='naTime']").datetimepicker({
    //     format: "yyyy-mm-dd",
    //     minView: "month",
    //     autoclose: true
    // });
    //
    // $("input[name='naResultTime']").datetimepicker({
    //     format: "yyyy-mm-dd",
    //     minView: "month",
    //     autoclose: true
    // });

    $(function() {
        var options = {
            pagination: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            sidePagination: "client",
            columns: [{
                checkbox: true
            },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                        var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                        return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'perIdentityType',
                    align: 'center',
                    title: '证件类型',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("naPersonnelList[%s].perIdentityType", index);
                        return $.common.dictToSelect(perIdentityTypeDatas, value, name);
                    }
                },
                {
                    field: 'perIdentity',
                    align: 'center',
                    title: '证件号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='naPersonnelList[%s].perIdentity' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                        return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="sub.delRowByIndex(\'' + value + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
        };
        $.table.init(options);
    });


    function addRow() {
        var count = $("#" + table.options.id).bootstrapTable('getData').length;
        var row = {
            index: $.table.serialNumber(count),
            userId: "",
            perIdentityType: "",
            perIdentity: "",
        }
        sub.addRow(row);
    }
</script>
</body>
</html>