<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.userPost.mapper.UserPostMapper">
    
    <resultMap type="UserPost" id="UserPostResult">
        <result property="userId"    column="user_id"    />
        <result property="postId"    column="post_id"    />
    </resultMap>

    <sql id="selectUserPostVo">
        select user_id, post_id from sys_user_post
    </sql>

    <select id="selectUserPostList" parameterType="UserPost" resultMap="UserPostResult">
        <include refid="selectUserPostVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectUserPostByUserId" parameterType="Long" resultMap="UserPostResult">
        <include refid="selectUserPostVo"/>
        where user_id = #{userId}
    </select>
    <select id="selectUserPostByPostId" parameterType="Long" resultMap="UserPostResult">
        <include refid="selectUserPostVo"/>
        where post_id = #{postId}
    </select>

    <insert id="insertUserPost" parameterType="UserPost">
        insert into sys_user_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="postId != null">post_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="postId != null">#{postId},</if>
         </trim>
    </insert>

    <update id="updateUserPost" parameterType="UserPost">
        update sys_user_post
        <trim prefix="SET" suffixOverrides=",">
            <if test="postId != null">post_id = #{postId},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteUserPostByUserId" parameterType="Long">
        delete from sys_user_post where user_id = #{userId}
    </delete>

    <delete id="deleteUserPostByUserIds" parameterType="String">
        delete from sys_user_post where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <delete id="deleteUserPost" parameterType="UserPost">
        delete from sys_user_post where post_id=#{postId} and user_id = #{userId}
    </delete>


</mapper>