<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.stuprofile.mapper.StuProfileMapper">
    
    <resultMap type="StuProfile" id="StuProfileResult">
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="studentName"    column="student_name"    />
        <result property="studentBirthday"    column="student_birthday"    />
        <result property="studentSex"    column="student_sex"    />
        <result property="studentPhone"    column="student_phone"    />
        <result property="studentAdmissionTime"    column="student_admission_time"    />
        <result property="studentCollege"    column="student_college"    />
        <result property="studentSpecialized"    column="student_specialized"    />
        <result property="studentStatus"    column="student_status"    />
    </resultMap>

    <sql id="selectStuProfileVo">
        select user_id, dept_id, student_name, student_birthday, student_sex, student_phone, student_admission_time, student_college, student_specialized, student_status from stu_profile s

    </sql>

    <select id="selectStuProfileList" parameterType="StuProfile" resultMap="StuProfileResult">
        <include refid="selectStuProfileVo"/>
        <where>  
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="studentName != null  and studentName != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="studentBirthday != null "> and student_birthday = #{studentBirthday}</if>
            <if test="studentSex != null  and studentSex != ''"> and student_sex = #{studentSex}</if>
            <if test="studentPhone != null  and studentPhone != ''"> and student_phone = #{studentPhone}</if>
            <if test="studentAdmissionTime != null "> and student_admission_time = #{studentAdmissionTime}</if>
            <if test="studentCollege != null  and studentCollege != ''"> and student_college = #{studentCollege}</if>
            <if test="studentSpecialized != null  and studentSpecialized != ''"> and student_specialized = #{studentSpecialized}</if>
            <if test="studentStatus != null  and studentStatus != ''"> and student_status = #{studentStatus}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>

    </select>

    <select id="selectStuProfileByUserId" parameterType="Long" resultMap="StuProfileResult">
        <include refid="selectStuProfileVo"/>
        where user_id = #{userId}
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>
        
    <insert id="insertStuProfile" parameterType="StuProfile" useGeneratedKeys="true" keyProperty="userId">
        insert into stu_profile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="studentName != null">student_name,</if>
            <if test="studentBirthday != null">student_birthday,</if>
            <if test="studentSex != null">student_sex,</if>
            <if test="studentPhone != null">student_phone,</if>
            <if test="studentAdmissionTime != null">student_admission_time,</if>
            <if test="studentCollege != null">student_college,</if>
            <if test="studentSpecialized != null">student_specialized,</if>
            <if test="studentStatus != null">student_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="studentName != null">#{studentName},</if>
            <if test="studentBirthday != null">#{studentBirthday},</if>
            <if test="studentSex != null">#{studentSex},</if>
            <if test="studentPhone != null">#{studentPhone},</if>
            <if test="studentAdmissionTime != null">#{studentAdmissionTime},</if>
            <if test="studentCollege != null">#{studentCollege},</if>
            <if test="studentSpecialized != null">#{studentSpecialized},</if>
            <if test="studentStatus != null">#{studentStatus},</if>
         </trim>
    </insert>

    <update id="updateStuProfile" parameterType="StuProfile">
        update stu_profile
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="studentBirthday != null">student_birthday = #{studentBirthday},</if>
            <if test="studentSex != null">student_sex = #{studentSex},</if>
            <if test="studentPhone != null">student_phone = #{studentPhone},</if>
            <if test="studentAdmissionTime != null">student_admission_time = #{studentAdmissionTime},</if>
            <if test="studentCollege != null">student_college = #{studentCollege},</if>
            <if test="studentSpecialized != null">student_specialized = #{studentSpecialized},</if>
            <if test="studentStatus != null">student_status = #{studentStatus},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteStuProfileByUserId" parameterType="Long">
        delete from stu_profile where user_id = #{userId}
    </delete>

    <delete id="deleteStuProfileByUserIds" parameterType="String">
        delete from stu_profile where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

</mapper>