<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改物流信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-logisticsManager-edit" th:object="${naLogistics}">
            <h4 class="form-header h4">物流信息信息</h4>
<!--            <input name="logiId" th:field="*{logiId}" type="hidden">-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">物流人员ID：</label>
                <div class="col-sm-8">
                    <input name="deliveryId" th:field="*{deliveryId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">检测点ID：</label>
                <div class="col-sm-8">
                    <input name="pointId" th:field="*{pointId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">检测点交接时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="logiPointTime" th:value="${#dates.format(naLogistics.logiPointTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">实验室ID：</label>
                <div class="col-sm-8">
                    <input name="laboratoryId" th:field="*{laboratoryId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">实验室交接时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="logiLabTime" th:value="${#dates.format(naLogistics.logiLabTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">核酸信息信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addRow()"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delRow()"><i class="fa fa-minus"> 删除</i></button>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "logistics/logisticsManager";
        var naMixTypeDatas = [[${@dict.getType('na_mix_type')}]];
        var naTypeDatas = [[${@dict.getType('na_type')}]];
        var naResultDatas = [[${@dict.getType('na_result_type')}]];
        $("#form-logisticsManager-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-logisticsManager-edit').serialize());
            }
        }

        $("input[name='logiPointTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='logiLabTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(function() {
            var options = {
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'naTime',
                    align: 'center',
                    title: '核酸时间',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='nucleicAcidList[%s].naTime' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'naMixType',
                    align: 'center',
                    title: '混样方式(0混管，1单管)',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("nucleicAcidList[%s].naMixType", index);
                        return $.common.dictToSelect(naMixTypeDatas, value, name);
                    }
                },
                {
                    field: 'naType',
                    align: 'center',
                    title: '核酸类型',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("nucleicAcidList[%s].naType", index);
                        return $.common.dictToSelect(naTypeDatas, value, name);
                    }
                },
                {
                    field: 'tubeId',
                    align: 'center',
                    title: '试管编号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='nucleicAcidList[%s].tubeId' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'pointId',
                    align: 'center',
                    title: '检测点ID',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='nucleicAcidList[%s].pointId' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'pointName',
                    align: 'center',
                    title: '检测点名称',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='nucleicAcidList[%s].pointName' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'naResult',
                    align: 'center',
                    title: '核酸结果(0未录入，1阴性，2阳性)',
                    formatter: function(value, row, index) {
                        var name = $.common.sprintf("nucleicAcidList[%s].naResult", index);
                        return $.common.dictToSelect(naResultDatas, value, name);
                    }
                },
                {
                    field: 'naResultTime',
                    align: 'center',
                    title: '结果最后一次修改时间',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='nucleicAcidList[%s].naResultTime' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'logiId',
                    align: 'center',
                    title: '物流信息ID',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='nucleicAcidList[%s].logiId' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                        return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="sub.delRowByIndex(\'' + value + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
            };
            $.table.init(options);
        });

        function addRow() {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            var row = {
                index: $.table.serialNumber(count),
                naTime: "",
                naMixType: "",
                naType: "",
                tubeId: "",
                pointId: "",
                pointName: "",
                naResult: "",
                naResultTime: "",
                logiId: "",
            }
            sub.addRow(row);
        }
    </script>
</body>
</html>