<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改物流信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-logisticsManager-edit" th:object="${naLogistics}">
            <h4 class="form-header h4">物流信息</h4>
            <input name="deliveryId" th:field="*{deliveryId}"  type="hidden">
<!--            <input name="logiId" th:field="*{logiId}" type="hidden">-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">物流人员：</label>
                <div class="col-sm-8">
                    <input readonly="true" name="deliveryName" th:value="${deliveryName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">检测点：</label>
                <div class="col-sm-8">
                    <select name="pointId" id="pointId" class="form-control" >
                        <option th:selected="*{pointId}==${point.pointId}" th:each="point:${points}" th:value="${point.pointId}" th:text="${point.pointName}" th:disabled="${point.status == '1'}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label is-required">实验室：</label>
                <div class="col-sm-8">
                    <select name="laboratoryId" id="laboratoryId" class="form-control" >
                        <option th:selected="*{laboratoryId}==${lab.labId}" th:each="lab:${laboratories}" th:value="${lab.labId}" th:text="${lab.labName}" ></option>
                    </select>
                </div>
            </div>

            <h4 class="form-header h4">核酸信息信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addRow()"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delRow()"><i class="fa fa-minus"> 删除</i></button>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "logistics/logisticsManager";
        var naMixTypeDatas = [[${@dict.getType('na_mix_type')}]];
        var naTypeDatas = [[${@dict.getType('na_type')}]];
        var naResultDatas = [[${@dict.getType('na_result_type')}]];
        $("#form-logisticsManager-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-logisticsManager-edit').serialize());
            }
        }

        $("input[name='logiPointTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='logiLabTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(function() {
            var options = {
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'tubeId',
                    align: 'center',
                    title: '试管编号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='nucleicAcidList[%s].tubeId' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                        return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="sub.delRowByIndex(\'' + value + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
            };
            $.table.init(options);
        });

        function addRow() {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            var row = {
                index: $.table.serialNumber(count),
                naTime: "",
                naMixType: "",
                naType: "",
                tubeId: "",
                pointId: "",
                pointName: "",
                naResult: "",
                naResultTime: "",
                logiId: "",
            }
            sub.addRow(row);
        }
    </script>
</body>
</html>