<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('选择任务')" />
</head>

<body class="gray-bg">
<div class="container-div">
	<div class="row">
		<div class="col-sm-12 search-collapse">
			<form id="post-form">
				<div class="select-list">
					<ul>
						<li>
							登录名称：<input type="text" name="loginName"/>
						</li>
						<li>
							手机号码：<input type="text" name="phonenumber"/>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table"></table>
		</div>
	</div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
	var datas = [[${@dict.getType('sys_normal_disable')}]];
	var prefix = ctx + "logistics/logisticsManager"



	$(function() {
		var options = {
			url: prefix + "/arrList",
			queryParams: queryParams,
			// onClick : zOnClick,
			// sortName: "createTime",
			// sortOrder: "desc",
			showSearch: false,
			showRefresh: false,
			showToggle: false,
			showColumns: false,
			clickToSelect: true,
			rememberSelected: true,
			columns: [{
				field: 'state',
				checkbox: true
			},
				{
					field: 'arrId',
					title: '任务ID',
					visible: false
				},
				{
					field: 'arrTime',
					title: '检测时间'
				},
				{
					field: 'arrAddress',
					title: '检测区域'
				},
				{
					field: 'pointName',
					title: '检测点'
				},
				{
					field: 'laboratoryName',
					title: '实验室'
				}]
		};
		$.table.init(options);
	});

	function queryParams(params) {
		var search = $.table.queryParams(params);
		search.arrId = $("#arrId").val();
		return search;
	}

	/* 根据选择的任务，生成物流信息 */
	function submitHandler() {
		var rows = $.table.selectFirstColumns();
		console.log(rows)
		if (rows.length == 0) {
			$.modal.alertWarning("请至少选择一条记录");
			return;
		};
		if (rows.length > 1) {
			$.modal.alertWarning("请只选择一条记录");
			return;
		}
		var data = {
			"arrId": rows.join()
		};

		var url = prefix + '/addLogisticsByArr/'+data.arrId;
		$.modal.open("生成的物流信息", url);
		$.modal.close();

	}
</script>
</body>
</html>