<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('个人核酸记录')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
<!--            <div class="col-sm-12 search-collapse">-->
<!--                <form id="formId">-->
<!--                    <div class="select-list">-->
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <label>核酸信息编号：</label>-->
<!--                                <input type="text" name="naId"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>用户账号：</label>-->
<!--                                <input type="text" name="userId"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>证件类型：</label>-->
<!--                                <select name="perIdentityType" th:with="type=${@dict.getType('identity_type')}">-->
<!--                                    <option value="">所有</option>-->
<!--                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                                </select>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>证件号：</label>-->
<!--                                <input type="text" name="perIdentity"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>-->
<!--                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->

<!--&lt;!&ndash;            <div class="btn-group-sm" id="toolbar" role="group">&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="naPersonnel:napersonnel:add">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fa fa-plus"></i> 添加&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="naPersonnel:napersonnel:edit">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fa fa-edit"></i> 修改&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="naPersonnel:napersonnel:remove">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fa fa-remove"></i> 删除&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="naPersonnel:napersonnel:export">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fa fa-download"></i> 导出&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('naPersonnel:napersonnel:edit')}]];
        var removeFlag = [[${@permission.hasPermi('naPersonnel:napersonnel:remove')}]];
        var perIdentityTypeDatas = [[${@dict.getType('identity_type')}]];
        var prefix = ctx + "naPersonnel/napersonnel";
        var naTypeDatas = [[${@dict.getType('na_type')}]];
        var naResultTypeDatas = [[${@dict.getType('na_result_type')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "核酸信息",
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'naId',
                        title: '核酸信息编号',
                        visible: false
                    },
                    {
                        field: 'naTime',
                        title: '核酸时间'
                    },
                    {
                        field: 'naResult',
                        title: '核酸结果',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(naResultTypeDatas, value);
                        }
                    },
                    {
                        field: 'deptName',
                        title: '核酸区域'
                    },
                    {
                        field: 'naType',
                        title: '核酸类型',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(naTypeDatas, value);
                        }
                    }]
                    // {
                    //     title: '操作',
                    //     align: 'center',
                    //     formatter: function(value, row, index) {
                    //         var actions = [];
                    //         actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.naId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                    //         //用于查看受检者详细信息
                    //         // actions.push('<a class="btn btn-info btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="detailDataColumn(\'' + row.naId + '\')"><i class="fa fa-search"></i>详情</a> ');
                    //         actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.naId + '\')"><i class="fa fa-remove"></i>删除</a>');
                    //         return actions.join('');
                    //     }
                    // }
            };
            $.table.init(options);
        });
    </script>
</body>
</html>